:root {
  --primary-color: #295dcf;
  --secondary-color: #ffffff;
  --error-color: #f7f7f7;
  --success-color: #fbfbfb;
  --background-color: #ffffff;
  --text-color: #333;
}

.RegistrationContainer {
  max-width: 1400px;
  min-height: 500px; 
  margin: 100px auto;
  border: 1px solid #ddd;
  border-radius: 8px;  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--background-color);
  padding: 24px;
  position: relative;
}

.RegistrationStepHeading {
  margin-bottom: 20px;
  margin-top: 48px; 
  color: var(--text-color);
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 5px;
  display: inline-block;
}

.RegistrationErrorMessage {
  color: red;
  margin-top: 5px;
  font-size: 0.9em;
}

.RegistrationButtonGroup {
  margin-bottom: 0;
}

.RegistrationStepContent {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.RegistrationSelectionList {
  flex: 1;
}

.RegistrationVaccinationListContainer {
  margin-bottom: 20px;
}

.RegistrationServiceListContainer {
  margin-bottom: 20px;
}

.RegistrationLoadingIndicator {
  border: 4px solid #f3f3f3;
  border-top: 4px solid var(--primary-color);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.RegistrationCard {
  width: 300px;
  height: 150px;  
  cursor: pointer;
}

.RegistrationCardSelected {
  background-color: #bec3c2f6;
  border-color: #010809;
  width: 300px;
  height: 150px;
}

.RegistrationSelectedTable {
  width: 300px;
  min-width: 250px;
}

.RegistrationNextButton {
  margin-top: 20px;
}

.RegistrationSearchButton {
  margin-top: 0px;
  padding-right: 0px;
  margin-left: 0px;
}

.RegistrationPatientListContainer {
  margin-bottom: 20px;
}

.RegistrationCheckboxContainer {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.RegistrationFormControlGroup {
  margin-bottom: 15px;
  padding-right: 0px;
  padding-left: 0px;
}

.RegistrationCreateButton {
  margin-top: 20px;
}

.RegistrationPaymentButton {
  margin-top: 20px;
}

.MuiButton-outlined.MuiButton-colorNeutral {
  border-color: #1976d2;
  color: #1976d2;
}

.MuiButton-outlined.MuiButton-colorNeutral:hover {
  background-color: rgba(25, 118, 210, 0.04);
}